.taskTable {
  margin-top: 3rem;
  width: 46rem;
}

.infoTasks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: bold;
}

.tasksCreated {
  color: var(--blue);
  display: flex;
  align-items: center;
}

.tasksCreated span {
  background-color: var(--gray-400);
  color: var(--gray-200);
  margin-left: 8px;
  border-radius: 50px;

  padding: 0.2rem 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasksCompleted {
  color: var(--purple);
  display: flex;
  align-items: center;
}

.tasksCompleted span {
  background-color: var(--gray-400);
  color: var(--gray-200);
  margin-left: 8px;
  border-radius: 50px;

  padding: 0.2rem 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasksArea {
  margin-top: 1.5rem;
}

.tasksAreaEmpty {
  border-top: 0.1px solid #333333;
  text-align: center;
  padding-top: 3rem;
  border-radius: 8px;
}

.tasksAreaEmpty img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}

.msgNoTasks {
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.tasksAreaContain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskAreaItem {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--gray-500);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
}

.checkBox {
  display: none;
}

.taskAreaItem input + label:before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--blue);
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

.taskAreaItem input + label:hover:before {
  border: 2px solid var(--blueDark);
}

.taskAreaItem input:checked + label:hover:before {
  border: 2px solid var(--purple);
  background-color: var(--purple);
}

.taskAreaItem input:checked + label:before {
  border: 2px solid var(--purpleDark);
  background: var(--purpleDark);
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
}

.taskAreaItem p {
  color: var(--gray-200);
  font-size: 0.875rem;

  line-height: 140%;
  margin-right: 0.5rem;
}

.trashArea {
  margin-left: 1rem;
  cursor: pointer;
  padding: 0.4rem;
  background-color: transparent;
}

.trashArea:hover {
  color: var(--danger);
  background-color: var(--gray-400);
  border-radius: 8px;
}
